@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'BananaSerif';
  src: url('../assets/fonts/BananaSerif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
